<div class="sidenav">
    <p class="sidenav_panel ">Admin Panel</p>
    <a href="/admin/events" {{#if event_isActive}}class="active"{{/if}}>Events</a>
    <a href="/admin/useraccounts" {{#if ua_isActive}}class="active"{{/if}}>User Accounts</a>
    <a href="/admin/adminaccount" {{#if adminacc_isActive}}class="active"{{/if}}>Administrator Accounts</a>
    <a href="/admin/webcontent" {{#if webcontent_isActive}}class="active"{{/if}}>Website Content</a>
</div>

{{event_isActive}}