<footer id="footer">

    <div class="text-center text-md-left">

        <div class="row">

            <div class="col-md-4 col-lg-5 mr-auto my-md-3 my-0 mt-4 mb-1">
                
                <p class="footer-p">
                    <img src="https://commons.bcit.ca/redlab/files/2015/06/bcit_cmyk.png" class="footer-img">
                    British Columbia Institute of Technology<br>
                    3700 Willingdon Avenue<br>
                    Burnaby, British Columbia<br>
                    Canada, V5G 3H2 </p>

            </div>

        </div>
</footer>