<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> menu}}
    <br><br>
    <div class="container">
        <div class="grid-container">
            <iframe src="https://outlook.live.com/owa/calendar/00000000-0000-0000-0000-000000000000/e13285ba-1e1f-409e-84e2-9db150a4388d/cid-333AE6D97B507300/index.html" scrolling="no" width="1200" height="700" frameborder="0"></iframe>
        </div>
    </div>
</body>
{{> footer}}
</html>
