<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    {{> menu}}
    <div class="parent">
        <div class="child_1">
            <h1 class="home_slider"><span>British Columbia Institute of Technology</span></h1>
        </div>
        <br>
        <div class="child_2">
<!--
        <figure>
            <div class="slider">
              <div class= "slide">
                   <img src="/images/slide_1.jpg">
               </div>
               <div class= "slide">
                   <img src="/images/slide_2.jpg">
               </div>
               <div class= "slide">
                   <img src="/images/slide_3.jpg">
               </div> 
            </div>
        </figure>
-->
            <img src="/images/slide_1.jpg">
        </div>
        <br>
        <div class="child_3">
          <h1 class="our_sponsors"><span>Our Sponsors</span></h1>
           <div class ="logo_col">
              <img src="/images/Fortis_Inc_logo.png" width="100%">
           </div>
           <div class ="logo_col">
               <img src="/images/Spartan_logo.jpg" width="100%">
           </div>
           <div class ="logo_col">
               <img src="/images/cims-squarelogo.png" width="100%">
           </div>
           <div class ="logo_col">
               <img src="/images/technical_safety_BC_logo.svg" width="100%">
           </div>
        </div>
   
    </div>
    
</body>
{{> footer}}
</html>
