<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/login_style.css" />
{{> head}}
</head>

<body>
    {{> menu}}
    <div>
        <section id="content">
            <form method="POST" action="/login" class="loginForm">
                <h1>{{heading}}</h1>
                <hr>
                {{#if failureFlag}}
                <p id="failedLogin">{{failureMessage}}</p>
                {{/if}}

                <div>
                    <input type="text" placeholder="username" name="username" id="email" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="password" required>
                </div>
                <div>
                    <input type="submit" class="loginButton btn btn-success" value="Submit"/>
                    {{!-- <input type="submit" value="Log in" /> --}}
                </div> 
            </form><!-- form -->

            <form method="GET" action="/forgotpassword" class="loginForm">
                <button class="loginButton btn btn-link"> Forgot Password? </button>
                <br><br>
            </form>

        </section><!-- content -->
    </div><!-- container -->
</body>
{{> footer}}
</html>