table {
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: rgba(0,60,121,0.1);
}

td a {
    display: block;
}

td a:hover {
    text-decoration: none;
}

td a:visited {
    text-decoration: none;
}

.filetable {
    width: 50%;
}

.filetable form {
    margin: 0;
}

.half_width {
    width: 50% !important;
}

.quarter_width {
    width: 25% !important;
}

.adminTable, .nonAdminTable {
    white-space: nowrap;
    width: 50%
}

.adminTableCell {
    width: 35%
}
