html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 650px;
}

form {
    margin: 30px;
}

.container {
    min-height: 100%;
    position: relative;
}

.topnav {
    overflow: auto;
    background-color: #FDFDFD;
    /* margin: 3%; */
    border-bottom: 2px outset;
}

.topnav a {
    float:right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: gainsboro;
    color: black;
}

.topnav a.active {
    background-color: #095E94;
    color: white;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
    
    .child_1 { 
        grid-area: 1 / 1 / 2 / 6; 
        overflow: hidden;
        margin-top:5%;
        margin-bottom: 5%;
        display:flex;
    }
.home_slider {
    font-size: 24pt;
    width: 100%;
    text-align: center;
    border-top: 15pt solid #095E94;
    border-bottom: 15pt solid #095E94;
    line-height: 1.5em;
    margin: 0;
    background-color: #095E94;
    word-spacing: 5px;
}

.home_slider span {
    background: #095E94;
    padding:0 15px;
    color: white;
}
    .child_1 img {
        width: 100%;
        height: 50%;
    }

    .child_2 { 
        grid-area: 2 / 1 / 4 / 6;
        width: 100%;
        height: 650px;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .child_2 img {
        width: 100%;
        height: auto;
        float: right;
        position: relative;
    }

/*Sponsors css*/
    .child_3 {
        grid-area: 4 / 1 / 5 / 6;
    }  
.logo_col {
    float: left;
    width: 25%;
    padding: 5px;
}
.our_sponsors {
    font-size: 24pt;
    width: 100%;
    text-align: center;
    border-top: 10pt solid #095E94;
    border-bottom: 10pt solid #095E94;
    line-height: 1.5em;
    margin: 10px 0 20px;
    background-color: #095E94;
    word-spacing: 5px;
}
.our_sponsors span {
    background: #095E94;
    padding:0 15px;
    color: white;
}

/*--------------*/

.bg-light {
    background-color: white !important;
}

.navbar-brand {
    max-height: 80px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-img {
    height: 70px;
    width: 80px
}

.navbar-light .navbar-nav .nav-link {
    color: black!important;
}


.footer-img {
    float: left;
    width: 25%;
    height: 25%;
    margin-right: 15px;
}

.footer-p {
    color: white;
}

footer {
    background-color: black;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


.fa {
    padding: 8px;
    font-size: 30px !important;
    width: 28%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white !important;
}

.fa-linkedin {
    background: #007bb5;
    color: white !important;
}

.fa-instagram {
    background: #125688;
    color: white !important;
}

.map {
    float: right;
    margin: 0px -220px 15px 30px;
}

.about-img {
    float: right;
    padding: 5px;
}

.address {
    float: right;
}

#profile-container {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profileImage {
    float: left;
    cursor: pointer;
    height: 180px;
    width: 180px;
    margin-right: 20px;
    border-radius: 50%;
}

.speaker-info {
    float: left;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}


p {
    margin-top: 15px !important;
    margin-bottom: 0rem !important;
    

}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* grid-row-gap: 10px; */
    position: relative;
    padding: 20px;
    text-align: center;
    /* justify-items: center; */
    /* border: 5px solid rgba(114, 186, 94, 0.35); */
}

.page-container {
    
    background-color:rgba(72,72,72,0.4);
    /* border: 5px solid rgba(236, 198, 48, 0.5); */
    margin: auto;
    max-width: 50%;
}

h1 {
    text-align: center;
}


.child-div{
    display: grid;
    align-items: center;
    grid-row-gap: 10px;
}

/* input,select,textarea{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.images {
    position: relative;
    display: inline-block;
}

.address {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 70px;
    left: 180px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    /* position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
} */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-indent: 10px;
    }
}

/* .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */

/* This is CSS for the admin's side nav bar */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: justify;
}

.sidenav a {
    height: 20%;
    padding: 15px 15px 15px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: center;
    position: relative;

}

.sidenav a:hover {
    background-color:#095E94;
    color: white;
    text-decoration: none;
}
.sidenav a.active {
    background-color: #095E94;
    color: white;
    text-decoration: none;
}

.maincontent {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

p.sidenav_panel{
    margin: 5% !important;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.add_event_button {
    padding: 0;
    border: none;
    background: white;
    float: right;
    font-size: 18px;
    margin-top: 1.8%;
    text-shadow: 0px 1px #888888;
}

.admin_event_header {
    display: inline;
}

.event_text {
    text-align: center;
    border: 0cm;
    border-bottom: 0.1cm solid #ddd;

}

.event_link {
    color: black;
}

.jumbotron {
    height: 100vh;
}

.edit_event_button {
    padding: 0;
    border: none;
    background: none;
    float: right;
    font-size: 16px;
    margin-top: 1.8%;
    text-shadow: 0px 1px #888888;

}

.event_table {
    table-layout: auto;
}
