html,
body {
    margin: 0;
    margin-bottom: 10%;
    padding: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 650px;
}

form {
    margin: 30px;
}

.container {
    min-height: 100%;
    position: relative;
}


.topnav {
    overflow: auto;
    background-color: #FDFDFD;
    /* margin: 3%; */
    border-bottom: 2px outset;
}

.topnav a {
    float:right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: gainsboro;
    color: black;
}

.topnav a.active {
    background-color: #095E94;
    color: white;
}

.IPE_header{
    grid-area: 1 / 1 / 2 / 6;
    padding-left: 15px;
    margin: 0 auto;
}
.home-header-text{
    font-size: 24pt;
    word-spacing: 5px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
    
    .child_1 { 
        grid-area: 1 / 1 / 2 / 6; 
        overflow: hidden;
        margin-top:5%;
        margin-bottom: 5%;
        display:flex;
    }
.home_slider {
    font-size: 24pt;
    width: 100%;
    text-align: center;
    border-top: 15pt solid #095E94;
    border-bottom: 15pt solid #095E94;
    line-height: 1.5em;
    margin: 0;
    background-color: #095E94;
    word-spacing: 5px;
}

.home_slider span {
    background: #095E94;
    padding:0 15px;
    color: white;
}
    .child_1 img {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;
    }

    .child_2 { 
        grid-area: 2 / 1 / 4 / 6;
        width: 100%;
        height: 650px;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .child_2 img {
        width: 100%;
        height: auto;
        float: right;
        position: relative;
    }

/* Login CSS */
#failedLogin {
    color: red;
}

/*Sponsors css*/
    .child_3 {
        grid-area: 4 / 1 / 5 / 6;
    }  
.logo_col {
    float: left;
    width: 25%;
    padding: 5px;
}
.our_sponsors {
    font-size: 24pt;
    width: 100%;
    text-align: center;
    border-top: 10pt solid #095E94;
    border-bottom: 10pt solid #095E94;
    line-height: 1.5em;
    margin: 10px 0 20px;
    background-color: #095E94;
    word-spacing: 5px;
}
.our_sponsors span {
    background: #095E94;
    padding:0 15px;
    color: white;
}

/*--------------*/

.bg-light {
    background-color: white !important;
}

.navbar-brand {
    max-height: 80px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-img {
    height: 70px;
    width: 80px
}

.navbar-light .navbar-nav .nav-link {
    color: black!important;
}

.footer-img {
    float: left;
    width: 25%;
    height: 25%;
    max-width: 70px;
    margin: 0 15px;
}

.footer-p {
    color: white;
    font-size: 10.5px;
}

.fa {
    padding: 8px;
    font-size: 30px !important;
    width: 28%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white !important;
}

.fa-linkedin {
    background: #007bb5;
    color: white !important;
}

.fa-instagram {
    background: #125688;
    color: white !important;
}

.map {
    float: right;
    margin: 0px -220px 15px 30px;
}

#about-map {
    width:80%;
    height:600px;
}

.about-img {
    float: right;
    padding: 5px;
}

.address {
    float: right;
}

#profile-container {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profileImage {
    float: left;
    cursor: pointer;
    height:180px;
    width: 180px;
    max-width: 100%;
    margin-right: 10%;
    border-radius: 50%;
    object-fit: cover
}

.speaker-info {
    margin-top: 1.8%;
    margin-left: 2%;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));
    padding: 10px;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#iframe_grid {
    float: right;
}


p {
    /* margin-top: 15px !important; */
    margin-bottom: 0rem !important;
}

.contact-container {
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: auto;
    position: relative;
    /* padding: 20px; */
}

.images {
    position: relative;
    display: inline-block;
}

.address {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 70px;
    left: 180px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-indent: 10px;
    }
}

label {
    margin-bottom: 1rem !important;
}

@media screen and (max-width: 1400px) {
    footer {
        background-color: black;
        position: sticky;
        left: 24%;
        bottom: -20px;
        width: 100%;
        z-index: 1;
    }

}


@media screen and (max-width: 1400px) {
    .footer-img {
        float: left;
        width: 0;
        height: 25%;
        margin-right: 15px;
    }
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    margin: auto;
    font: 15px;
}


/* admin about.hbs row position fixes */
