<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> menu}}

    <h1>{{heading}}</h1>

    <h2><a href="/admin/events">Events</a></h2>
    <h2>User Accounts</h2>
    <h2>Administrator Accounts</h2>
    <h2>Website Content</h2>
</body>
{{> footer}}

</html>