<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}
    
    <div class="maincontent">
        {{> menu}}
        <h1>{{heading}}</h1>


        <div class="jumbotron">
            <h2><a href="/admin/webcontent/home">Home</a></h2>
            <h2><a href="/admin/webcontent/about">About</a></h2>
            <h2><a href="/admin/webcontent/agenda">Agenda</a></h2>
            <h2><a href="/admin/webcontent/speakers">Speakers</a></h2>
        </div>
        
    </div>

</body>
</html>