<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>

    <div class="sidenav">
        <p class="sidenav_panel">Admin Panel</p>
        <a href="/admin/events">Events</a>
        <a href="/admin/useraccounts">User Accounts</a>
        <a href="/admin/adminaccount">Administrator Accounts</a>
        <a href="/admin/webcontent" class="active">Website Content</a>
    </div>
    
    <div class="maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>

        <h2><a href="/admin/webcontent/home">Home</a></h2>
        <h2><a href="/admin/webcontent/about">About</a></h2>
        <h2><a href="/admin/webcontent/agenda">Agenda</a></h2>
        <h2><a href="/admin/webcontent/speakers">Speakers</a></h2>
        <h2><a href="/admin/webcontent/contact">Contact</a></h2>

    </div>

</body>

</html>